.Rproj.user
.Rhistory
.RData
.Ruserdata
data/.DS_Store
*.DS_Store
figures/.DS_Store
*.afdesign
missfont.log
*.docx
*.ris



figures/.DS_Store
reviewer_comments.pdf
submission.md
figures/.DS_Store
figures/.DS_Store
figures/.DS_Store
R/.DS_Store
manuscript.pdf
